<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Form</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label>Select</ion-label>
          <ion-select [(ngModel)]="selectedOption">
            <ion-select-option *ngFor="let option of options" [value]="option"> {{ option.value }} </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="showModal()" color="success">Success</ion-button>
      </ion-card-content>
    </ion-card>  
  </div>
</ion-content>
